@keyframes fade-in {
	0% {opacity: 0}
	100% {opacity: 1}
}
body {
    background-color: #696969;
    animation-name: fade-in;
    animation-duration: 2s;
}
p {
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
}
li {
	font-family: 'Roboto', sans-serif;
	color: white;
	margin: 0 0 4px 0;
}
div {
	margin: auto;
    width: 220px;
    padding: 10px;
    border: 5px; 
}
#description {
	margin: auto;
    width: 340px;
    padding: 10px;
    border: 5px; 
}
#links {
	margin: auto;
    width: 160px;
    padding: 10px;
    border: 5px; 
}
ul {
	list-style: none;
	text-align: center;
	margin: auto;
	margin-left: -2vw;
}
header {
	background: transparent;
	margin-top: 20vh;
    height: 20%;
    display: block;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: white;
}
a {
	color: white;
	text-decoration: none;
	padding: 1px 1.5px 0.5px 1px;
}
a:hover {
	text-decoration: underline;
}